* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Pink */
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  /* Blue */
  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;

  /* Shape */
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-hover2: #00244b;
  --shape-base: #000F1F;
  --shape-background: #00050A;

  /* Text */
  --text-title: #F8FBFB;
  --text-body: #E2E7E9;
  --text-label: #BAC6C9;

  --ff-base: "Raleway", sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-family: var(--ff-base);
  color: var(--text-body);
}

body {
  background-color: var(--shape-background);
  overflow-y: hidden;
  height: 240rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Barra de rolagem horizontal/vertical */
*::-webkit-scrollbar {
  width: 5px;   /* largura (vertical) */
  height: 8px;  /* altura (horizontal) */
}

/* Trilha (fundo da barra) */
*::-webkit-scrollbar-track {
  background: transparent; /* deixa clean */
}

/* Polegar (parte que desliza) */
*::-webkit-scrollbar-thumb {
  background-color: #7D298A; /* sua cor roxa */
  border-radius: 1px;        /* bordas arredondadas */
}

/* Efeito no hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: #9a3ca8; /* um roxo mais claro no hover */
}