section#hero-initial {
  width: 100vdh;
  display: flex;
  justify-content: center;

  img.background2 {
      display: none;
  }

  div.hero-initial-container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    nav {
      width: 100%;
      margin-top: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .img2 {
        display: none;
      }
  
      & > a {
        height: fit-content;
      }
    }
  
    section {
      display: flex;
      justify-content: center;
      position: relative;
  
      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        margin-top: 3rem;
        position: relative;
  
        & > h1 {
          max-width: 20rem;
          color: var(--text-title);
          margin: 0;
        }

        & > p {
          margin: 0;
        }
      }

      & > img.background1 {
        position: absolute;
        z-index: -1;
        top: -40%;
        height: 55vh;
      }
  
      & > span {
        position: absolute;
        top: 10%;
        z-index: -2;
        height: 50rem;
        width: 40rem;
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: 80em) {
  section#hero-initial {
    height: 100vh;

    img.background2 {
      display: initial;
      position: absolute;
      z-index: -1;
      top: 0;
      height: 100vh;
    }

    div.hero-initial-container {
      height: fit-content;
      width: 60rem;

      nav {
        margin-top: 3.5rem;
  
        .img1 {
          display: none;
        }
  
        .img2 {
          display: inline-block;
        }
      }
  
      section#hero {
        & > div {
          margin-top: 10rem;
          gap: 2rem;

          h1 {
            max-width: 40rem;
          }
        }

        img.background1 {
          display: none;
        }
  
        & > span {
          top: 45%;
          width: 100rem;
          height: 75rem;
          opacity: .3;
        }
      }
    }
  }
}