section#hero-initial {
  & > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > a {
      height: fit-content;
    }
  }

  & > section {
    position: relative;
    display: flex;
    justify-content: center;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 0;

      & > h1 {
        color: var(--text-title);
      }
  
      & > p {
        color: var(--text-body);
      }
    }

    & > img {
      z-index: -1;
      position: absolute;
      top: -150px;
      width: 130%;
    }
  }
}